<!DOCTYPE html>
<html lang="en" ng-app="MoviesApp">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Movie Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/main.css">

	<!-- load Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
	<!-- load our script -->
	<script src="js/movies.js"></script>
</head>
<body class="container" ng-controller="MoviesCtrl">

	<h1>Movie Data Browser</h1>
	<p class="lead">Movies released during 2015<br>The message is: {{message}}</p>


  <form role="form" class="form-inline">
    <button type="button"><i class="fa fa-search" aria-label="Search"></i></button>
    <input type="text" name="search" id="searchTerm" placeholder="Enter a search term..." ng-model="searchTerm">
  </form>

	<table class="table">
		<tr>
			<th ng-click="sortBy('title')">Title</th>
			<th ng-click="ordering = 'released'">Release Date</th>
			<th>Genre</th>
			<th ng-click="sortBy('-gross')">Earnings</th>
			<th>Distributor</th>
		</tr>
		<tr ng-repeat="movie in movies | orderBy:ordering | filter:searchTerm ">
			<td>{{movie.title}}</td>
			<td>{{movie.released}}</td>
			<td>{{movie.genre}}</td>
			<td>{{movie.gross | currency:'$':0}}</td>
			<td>{{movie.distributor}}</td>
		</tr>
	</table>

</body>
</html>